body{
    margin: 0;

}

.w3-sidebar {
    background-color: #000000;
    width: 200px;
}
.w3-sidebar img{
    width : 100%;

}

main {
    margin-left: 200px;
}

aside a{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;

}


