body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #3D3C3C;
   
}

header {
    width: 100%;
    padding: 20px;
    border: 2px  dotted black;

}

.content {
    width: 60%;
    margin-left: 20%;
    margin-left: 20%;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-item {
    order: 1;
}